---
import BaseLayout from "@layouts/BaseLayout.astro";
const pageTitle = "About Me";

const identity = {
    firstName: "Samuel",
    country: "US",
    occupation: 'Software Engineer',
    hobbies: ['photography','soccer','swimming']
};

const skills = ['HTML', 'CSS', 'JavaScript', 'React','Astro', 'Webpack','D3'];

const happy = true;
const finished = false;
const goal = 3;

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<BaseLayout pageTitle={pageTitle}>
    <style define:vars={{skillColor, fontWeight, textCase}}>
            h1 {
            color: purple;
            font-size:4rem;
        }
        .skill {
            color: var(--skillColor);
            font-weight: var(--fontWeight);
            text-transform: var(--textCase);
        }
    </style>
    <h2>... and my new Astro site!</h2>
        <p>I am working through Astro's introductory tutorial. This is the second page on the website and the first one I built myself!</p>
        <p>This site will update as I complete more of the tutorial, so keep checking back and see how my jouney is going!</p>
        <hr />
        <ul>
            {skills.map((skill)=> <li class="skill">{skill}</li>)}
        </ul>
        <hr/>
        {happy && <p>I am happy to be learning Astro!</p>}
        {finished && <p>I finsihed this tutorial!</p>}
        {goal === 3 ? <p>My goal is to finish in 3 days.</p>:<p>My goal is not 3 days.</p>}

        <hr />
</BaseLayout>
