---
// import {getCollection, getEntries} from 'astro:content';
import BaseLayout from "@layouts/BaseLayout.astro";
import BlogPost from "@components/BlogPost.astro";
const allPosts = await Astro.glob('/src/pages/posts/*.md{,x}');
// ALERT: not sure why this isn't working
// const allPosts = await getEntries('blog');
console.log('__allPosts', typeof allPosts)
const pageTitle = "Blog";
---
<BaseLayout pageTitle={pageTitle}>
	<style>
		ol {
			list-style: none;
		}
	</style>
	<h2>My Astro Learning Blog</h2>
	<p>This is where I will post about my journey learning Astro.</p>

	<ol>
		{allPosts.map((post) =>
			<BlogPost url={post.url} title={post.frontmatter.title} description={post.frontmatter.description} />
		)}
	</ol>
</BaseLayout>
