---
// NOTE: these live in "/public/"
const configURL = '/config.yml';
const previewStylesURL = '/preview-style.css';
---


<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="robots" content="noindex" />
  <title>Content Manager</title>
  <!-- Note the "type" and "rel" attribute values, which are required. -->
  <link href={configURL} type="text/yaml" rel="cms-config-url">
</head>
<body>
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js" is:inline></script>
  <!-- Include the script that builds the page and powers Decap CMS -->
  <script is:inline src="https://unpkg.com/decap-cms@^3.0.0/dist/decap-cms.js"></script>
  <script is:inline define:vars={{previewStylesURL}}>
    CMS.registerPreviewStyle(previewStylesURL)
  </script>
</body>
</html>