---
// import CMS from 'decap-cms-app';
import configURL from  '/config.yml?url';

// console.log('config', import.meta.glob(configURL))
export async function getStaticPaths() {
  const config = await Astro.glob('./config.yml?raw');
  // const config = await Astro.glob('./config.txt');
console.log('the meta', {config})
  return ({params:{url}, props:{url: config}});
}

const {url} = Astro.props;
const {url:m} = Astro.params;
---
{JSON.stringify(configURL, null, 2)}


<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="robots" content="noindex" />
  <title>Content Manager</title>
  <!-- Note the "type" and "rel" attribute values, which are required. -->
  <link href={configURL} type="text/yaml" rel="cms-config-url">
</head>
<body>
  <!-- Include the script that builds the page and powers Decap CMS -->
  <script src="https://unpkg.com/decap-cms@^3.0.0/dist/decap-cms.js"></script>
</body>
</html>